body {
    text-align: center; 
}

#hOneTest {
    border: 5px solid black;
   border-radius:20px;
   display: inline-block;
   padding: 5px;
   color: black;
}

#boolCheck {
    margin-top:100px;
     max-width:150px;
    width:100px;
    margin-bottom:100px;

    
}

#addon-wrapping{
        margin-top:100px;
    margin-left:800px;


margin-bottom:100px;
}

#testButton {
        border-radius: 8px;
        border-color:black;

}